extends layout

block content
  h1= title
  p Welcome to #{title}
  div
  each message in messages
    div.card 
      p.user= message.user
      p.text= message.text
      p.time= message.added
  a(href="/new") add new message
